<%

%>
<div class="comment"> 
	<div  style="font-size:small;">	
		<img src="<%= comment.user.avatar.url(:thumb) %>" class="profile-thumb">
		<b><%= comment.user.displayname %></b>
		<i>Posted on:</i> <%= comment.created_at.strftime("%m-%d-%y %I:%M %P")  %> 
	</div>
	<div class="post">
		<p><%= comment.comment %></p>
	</div>
	<p style="font-size:small;"><a href="#" onClick="$(<%= replySelector %>).show();return false;">Reply</a></p>
</div>
<div class="comment-container" id="<%= replytextboxID %>">
	<hr>
	<form method="post" action="<%= comments_reply_path comment.id %>" id="reply_form_<%= comment.id %>">
		<textarea class="comment-text" name="comment" id="comment_reply" placeholder="Enter comment here..."></textarea>
		<div class="buttonarea" style="margin-top:10px;margin-left:10px">
			<button type="button" onclick="submit_reply(<%= comment.id %>)" class="comment-submit btn primary sm">Reply</button>&nbsp;&nbsp;&nbsp;<button type="button" class="btn cancel sm" onClick="$(<%= replySelector %>).hide();return false;">Cancel</button>
		</div>
		<input type="hidden" name="blog" value="<%= comment.user_id %>">
		<input type="hidden" name="pid" value="<%= comment.post_id %>">
		<input type="hidden" name="authenticity_token" id="authenticity_token_<%= comment.id %>">
	</form>
	<hr>
</div>
<div class="content-divider"></div>