<div class="row">
	<div class="col">
		<label class="control-label">Year:</label>
		<select class="archive-year-select">
			<% (start_year..end_year).each do |year| %>
				<option value="<%= year %>" <%= year == end_year ? 'selected' : '' %>><%= year %></option>
			<% end %>
		</select>
	</div>
	<div class="col">
		<label class="control-label">Month:</label>
		<select class="archive-month-select">
			<% months.each_with_index do |month, index| %>
				<option value="<%= month %>" <%= index == end_month ? 'selected' : ''  %>><%= month %></option>
			<% end %>
		</select>
	</div>
</div>