<style>
    .sidebar-text {
        color: <%= @user.text_color ? @user.text_color : '#ffffff'%>;
    }
    #sidebar {
        background: <%= @user.background_color ? @user.background_color : '#e6b3ff'; %>;
    }
    .sidebar.avatar {
        border: 4px solid <%= @user.background_color ? @user.background_color : '#e6b3ff'; %>;
    }
    .banner {
        background-image: url(<%= @user.banner.url(:medium) %>);
    }
</style>
<div class="banner">
    <a href="<%= user_posts_path @user.id %>"><img class="sidebar avatar" src="<%= @user.avatar.url(:small) %>"></a>
    <a href="javascript:void(0)" onclick="open_file_dialog('#avatar-upload')"><img class="sidebar-edit" id="avatar-edit" src="/images/edit_icon.png"></a>
    <a href="javascript:void(0)" onclick="open_file_dialog('#banner-upload')"><img class="sidebar-edit" id="banner-edit" src="/images/edit_icon.png"></a>
</div>


<div class="sidebar-buttons">
    <% if session[:userid] == @user.id %>
        <button type="button" onclick="edit_sidebar_settings()" class="edit-sidebar btn confirm">Modify Theme</button>
    <% end %>
    <button type="button" onclick="save_sidebar_settings()" class="btn confirm hidden-sidebar-button">Save</button>
    <button type="button" onclick="cancel_sidebar_settings('<%= @user.text_color %>','<%= @user.background_color %>', '<%= @user.avatar.url(:small) %>', '<%= @user.banner.url(:medium) %>')" class="btn cancel hidden-sidebar-button">Cancel</button>
</div>
<input type="file" class="sidebar-files" id="avatar-upload">
<input type="file" class="sidebar-files" id="banner-upload">



<div class="sidebar-text sidebar-description-area">
    <p class="sidebar-title"><%= @user.blog_title %></p>
    <p class="sidebar-description"><%= @user.description %></p>
</div>


<div class="color-picker">
    <div class="background-color-picker">
        <label class="sidebar-label">Background Color:</label>
        <input type="color" id="background-color">
    </div>
    <div class="text-color-picker">
        <label class="sidebar-label">Font Color:</label>
        <input type="color" id="text-color">
    </div>
</div>

<div class="sidebar-main">
    <%= render partial: 'sidebar_posts' %>
</div>
<img class="sidebar-loading" src="/images/loading.gif">
<script>
    //since we've already loaded the first page, the current page will be 2
    var current_page = 2;
    //note: most of sidebar code is in main.js because _dash_js was getting unwieldly.
    //we should get angular at some point???? it would be nice
    $(() => {
        <% if @user.background_color != '' && @user.text_color != '' %>
            $("#background-color").val('<%= @user.background_color %>')
            $("#text-color").val('<%= @user.text_color %>')
        <% end %>

        $("#avatar-upload").on('change', function() {
            updateImage("#avatar-upload")
        });

        $("#banner-upload").on('change', function() {
            updateImage("#banner-upload");
        });

        $("#sidebar").on('scroll', function() {
            if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
                console.log(current_page);
                load_sidebar_posts(current_page)

                current_page++;
            }
        });
    });

    $("#background-color").on('change', function() {
        $("#sidebar").css({
            background: $(this).val()
        });
    });
    $("#text-color").on('change', function() {
        $(".sidebar-text").css({
            color: $(this).val()
        });
    });
</script>