<% @posts.each do |post| %>
	<% tags = post.tags.order('post_tags.created_at') %>
	<a href="<%= user_posts_page_path post.user_id, 1 %>">
		<div class="avatar-dash" id="avatar_<%= post.id %>">
			<img class="avatar" src="<%= post.user.avatar.url(:small)%>">
			<p style="font-size:12px;color:white"><b><%= post.user.displayname %></b></p>
		</div>
	</a>

	<div class="dash content" id="post_<%= post.id %>">
		<p style="font-size:small;"><i>Creation Date: <%= post.created_at.strftime("%m-%d-%y %I:%M %P") %></i></p>
		<div class="post"> 
			<% post.images.each do |image| %>
				<p><img src="<%= image.file.url(:medium) %>"></p>
			<% end %>
			<p><%= auto_link(post.post, sanitize: false).html_safe %></p>
		</div>
		<% if post.edited == 1 %>
			<p style="font-size:small;"><i>(Edited on: <%= post.updated_at.strftime("%m-%d-%y %I:%M %P") %>)</i></p>
		<% end %>
		<% if post.tags.length > 0 %> 
			<p class="print-tags"><i>Tags: <%= render partial: 'posts/tag', collection: tags %></i></p>
		<% end %>
		<div class="post-buttons" style="font-size:12px">
			<a href="<%= user_post_comments_path(post.user_id, post) %>"><%= post.getCommentText %></a>
			&nbsp;&nbsp;
			<a href="#" onClick="openQuoteModal(<%= post.id %>);return false" style="margin-left:5px">Quote</a>
			<% if post.user_id == session[:userid] %>
				<a class="delete" href="#" onclick="deletePost(<%= post.id %>);return false"><li class="fa fa-trash"></li></a>
			<% end %>
		</div>
	</div>
	<div class="content-divider"></div>

<% end %>