<%= render partial: 'dash_heading' %>
	<div class="buttons">
		<ul class="list-buttons">
			<li><a href="#" onclick="openNewDashModal(<%= params[:user_id] %>);return false;"><img src="/images/write-document-icon.png" class="icon"></a></li>
			<li><a href="#" onclick="openYoutubeModal()" ><img src="/images/video_icon.png" class="icon"></a></li>
			<li><a href="#" onclick="openImageModal()" ><img src="/images/photo_upload.png" class="icon"></a></li>
			<li><a href="<%= user_account_path session[:userid] %>"><img src="/images/control_panel copy.png" class="icon"></li></a>
			<li><a href="/users/logout"><img src="/images/logout.png" class="icon"></a></li>
		</ul>
	</div>
	<div class="main">
		<h2>Posts in your Feed</h2>
		<% if @posts.empty? %>
			<div class="dash content" style="color:grey">
				<h3>No Posts to Show</h3>
			</div>
			<div class="content-divider"></div>
		<% end %>

		<%= render partial: 'dashPosts' %>
	</div>
	
	<%= render partial: 'dash_js' %> 
	<script>
	function load_posts(page) {
		
		$loading = true;
		
		$.get(
			'/posts/' + page + '/fetch_posts',
			{ 
				friend_ids: "<%= @friends.to_a.push(@user).map{ |friend| friend.id }.join(',') %>",

			} ,
			function(data) {
				$(".loading-dash").hide();
				if (data != '') 
					$('.main').fadeIn("slow").append(data);
				
				//wait a second before the next ajax request
				setTimeout(function() {
					$loading = false;
				}, 500);

			}
		);

		

	}
	</script>
</body>

<%= render partial: 'posts/postModal' %>
<%= render partial: 'posts/youtubeModal' %>
<%= render partial: 'posts/imageModal' %>

