<head>
	<style>
		body {
			background:#666699
		}
		.main {
			margin-left: 150px;
			padding-top: 0;
			padding-bottom:20px;
			background:#52527A;
			width:600px;
			padding: 0 30px 0 30px;
			border-radius: 20px;

		}
		.dash.content {
			margin-left:95px;
		}

		.list-buttons {
			list-style-type: none

		}
		.list-buttons li {
			display:inline;
		}
		.icon {
			width:60px;
			height:60px;
			margin-right:10px;
		}
		.buttons {
			margin-left:240px;
			background:#52527A;
			width:470px;
			border-radius:20px;
			border: solid 1px #393955;
			
		}
		.search-row {
			top: 60px;
			right: 20px;
			position:absolute;
		}
		.control-text {
			display:inline;
		}
		#editContents {
			background:white;
		}
		.content-divider {
			height: 30px;
		}
		#youtube-content {
			margin-bottom:25px;
		}
	</style>
</head>
<body>
	<h1 class="logo"><span class="logo-bracket">[</span>blogger<span class="logo-bracket">].</span></h1>
	<div class="search-row">
		<i class="fa fa-search" style="margin-right:10px;"></i><input type="text" class="control-text" name="search" id="search">
	</div>
	<div class="buttons">
		<ul class="list-buttons">
			<li><a href="#" onclick="openNewDashModal(<%= params[:user_id] %>);return false;"><img src="/images/write-document-icon.png" class="icon"></a></li>
			<li><a href="#" onclick="openYoutubeModal()" ><img src="/images/video_icon.png" class="icon"></a></li>
			<li><a href="<%= user_account_path session[:userid] %>"><img src="/images/control_panel.png" class="icon"></li></a>
			<li><a href="/users/logout"><img src="/images/logout3.png" class="icon"></a></li>
		</ul>
	</div>
	<div class="main">
		<h2>Posts in your Feed</h2>
		<% @posts.each do |post| %>
			<% user = get_user(post) %>
			<a href="<%= user_posts_page_path post.user_id, 1 %>">
				<div class="avatar-dash">
					<img src="<%= user.avatar.url(:small)%>">
					<p style="font-size:12px;color:white"><b><%= user.displayname %></b></p>
				</div>
			</a>

			<div class="dash content">
				<p style="font-size:small;"><i>Creation Date: <%= post.created_at.strftime("%m-%d-%y %I:%M %P") %></i></p>
				<div class="post"> 
					<p><%= post.post.html_safe %></p>
				</div>
				<% if post.edited == 1 %>
					<p style="font-size:small;"><i>(Edited on: <%= post.updated_at.strftime("%m-%d-%y %I:%M %P") %>)</i></p>
				<% end %>
				<% if post.tags.length > 0 %> 
						<p class="print-tags"><i>Tags: <%= render partial: 'posts/tag', collection: post.tags %></i></p>
					<% end %>
				<div class="post-buttons" style="font-size:12px">
					<a href="<%= user_post_comments_path(post.user_id, post) %>"><%= post.getCommentText %></a>
					&nbsp;&nbsp;
					<a href="#" onClick="openQuoteModal(<%= post.id %>,<%= @user.id %>)" style="margin-left:5px">Quote</a>
					<% if post.user_id = session[:userid] %>
						<a class="delete" href="#" onclick="deletePost(<%= post.id %>);return false"><li class="fa fa-trash"></li></a>
					<% end %>
				</div>
			</div>
			<div class="content-divider"></div>
		
		<% end %>
	</div>
	<script src="/js/main.js"></script>
	<script>
		$(function() {
			$("#youtube-url").change(function() {

			});
		});
		function openNewDashModal(userID) {
			openNewModal(userID);
			$("#source").val("dashboard");
		}

		function openYoutubeModal() {
			$("#youtubeModal").fadeIn(500).dialog({
				autoOpen:true,
				closeOnEscape:true,
				modal:true,
				resizable:false,
				width:430,
				height:250,
				position: {at:"top"}
			});
		}

		function submitYoutube(user_id) {
			var match = parseYoutubeURL($("#youtube-url").val());


			var youtube_vid = '<iframe src="https://www.youtube.com/embed/' + match[7] + '" width="375" height="211" frameborder="0" allowfullscreen></iframe>';

			$("#youtube_content").val(youtube_vid);
			
			$("#newYoutubePost").attr("action", "<%= user_posts_path session[:userid] %>")
			$("#newYoutubePost").submit();
		}
	</script>
</body>

<%= render partial: 'posts/postModal' %>
<%= render partial: 'posts/youtubeModal' %>

