<head>
	<style>
		body {
			background:#666699
		}
		.main {
			margin-left: 150px;
			padding-top: 0;
			padding-bottom:20px;
			background:#52527A;
			width:700px;
			padding: 0 30px 0 30px;
			border-radius: 20px;

		}
		.dash.content {
			margin-left:95px;
			box-shadow: grey 1px 1px;
		}

		.list-buttons {
			list-style-type: none

		}
		.list-buttons li {
			display:inline;
		}
		.icon {
			width:60px;
			height:60px;
			margin-right:10px;
		}
		.buttons {
			margin-left:300px;
			background:#52527A;
			width:450px;
			border-radius:20px;
			border: solid 1px #393955;
			
		}
		.search-row {
			top: 60px;
			right: 20px;
			position:absolute;
		}
		.control-text {
			display:inline;
		}
		#editContents {
			background:white;
		}
		.content-divider {
			height: 30px;
			clear:left;
		}
		.youtube-content {
			margin-bottom:25px;
		}
		#youtube-video {
			width: 375px;
			height: 211px;
			margin-top:40px;
		}
		#image-upload {
			border: 5px dashed grey;
			background: #52527A;
			width:300px;
			height:100px;
			text-align:center;
			margin-top:20px;
		}
		#image-file {
			width:auto;
			max-height:250px;
			display:none;
			margin-top:10px;
		}
		#youtube-tags_tagsinput {
			width: 370px !important;
		}
	</style>
</head>
<body>
	<h1 class="logo"><span class="logo-bracket">[</span>blogger<span class="logo-bracket">].</span></h1>
	<div class="search-row">
		<i class="fa fa-search" style="margin-right:10px;"></i><input type="text" class="control-text" name="search" id="search">
	</div>
	<div class="buttons">
		<ul class="list-buttons">
			<li><a href="#" onclick="openNewDashModal(<%= params[:user_id] %>);return false;"><img src="/images/write-document-icon.png" class="icon"></a></li>
			<li><a href="#" onclick="openYoutubeModal()" ><img src="/images/video_icon.png" class="icon"></a></li>
			<li><a href="#" onclick="openImageModal()" ><img src="/images/photo_upload.png" class="icon"></a></li>
			<li><a href="<%= user_account_path session[:userid] %>"><img src="/images/control_panel.png" class="icon"></li></a>
			<li><a href="/users/logout"><img src="/images/logout.png" class="icon"></a></li>
		</ul>
	</div>
	<div class="main">
		<h2>Posts in your Feed</h2>
		<% if @posts.empty? %>
			<div class="dash content" style="color:grey">
				<h3>No Posts to Show</h3>
			</div>
			<div class="content-divider"></div>
		<% end %>

		<% @posts.each do |post| %>
			<% user = get_user(post) %>
			<a href="<%= user_posts_page_path post.user_id, 1 %>">
				<div class="avatar-dash">
					<img class="avatar" src="<%= user.avatar.url(:small)%>">
					<p style="font-size:12px;color:white"><b><%= user.displayname %></b></p>
				</div>
			</a>

			<div class="dash content">
				<p style="font-size:small;"><i>Creation Date: <%= post.created_at.strftime("%m-%d-%y %I:%M %P") %></i></p>
				<div class="post"> 
					<% post.images.each do |image| %>
						<p><img src="<%= image.file.url(:medium) %>"></p>
					<% end %>
					<p><%= post.post.html_safe %></p>
				</div>
				<% if post.edited == 1 %>
					<p style="font-size:small;"><i>(Edited on: <%= post.updated_at.strftime("%m-%d-%y %I:%M %P") %>)</i></p>
				<% end %>
				<% if post.tags.length > 0 %> 
					<p class="print-tags"><i>Tags: <%= render partial: 'posts/tag', collection: post.tags %></i></p>
				<% end %>
				<div class="post-buttons" style="font-size:12px">
					<a href="<%= user_post_comments_path(post.user_id, post) %>"><%= post.getCommentText %></a>
					&nbsp;&nbsp;
					<a href="#" onClick="openQuoteModal(<%= post.id %>,<%= @user.id %>);return false" style="margin-left:5px">Quote</a>
					<% if post.user_id = session[:userid] %>
						<a class="delete" href="#" onclick="deletePost(<%= post.id %>);return false"><li class="fa fa-trash"></li></a>
					<% end %>
				</div>
			</div>
			<div class="content-divider"></div>
		
		<% end %>
	</div>
	<script src="/js/main.js"></script>
	<script>
		$(function() {
			$("#youtube-url").on("input propertychange paste", function() {

				var youtube_id = parseYoutubeURL($("#youtube-url").val());

				if (youtube_id == null) {
					$("#youtube-video").html("");
					return;
				}
				
				var youtube_vid = getYoutubeVideo(youtube_id[7]);
				$("#youtube-video").html(youtube_vid).hide().fadeIn("slow");
			});

			$("#image-upload").click(function() {
				$("#image").click();
			});

			$("#image").change(function() {
				var reader = new FileReader();

				reader.onload = function (e) {
					image = $("#image-file");


		            $(image).attr('src', e.target.result);
		            $(image).fadeIn("slow").show();

		            $("#image-upload").hide();
		            $("#imageModal").dialog("option", 'height', $(image).height()+150);
		            $("#imageModal").dialog("option", 'width', $(image).width()+90)
		        }

				reader.readAsDataURL(this.files[0])
			});

		});
		function openNewDashModal(userID) {
			openNewModal(userID);
			$("#source").val("dashboard");
		}

		function openYoutubeModal() {
			$("#youtubeModal").fadeIn(500).dialog({
				autoOpen:true,
				closeOnEscape:true,
				modal:true,
				resizable:true,
				width:480,
				height:520,
				position: {at:"top"},
				close: function() {
					$("#youtube-video").html("");
				}
			});
		}

		function openImageModal() {
			$("#imageModal").fadeIn(500).dialog({
				autoOpen:true,
				closeOnEscape:true,
				modal:true,
				resizable:true,
				width:380,
				height:220,
				position: {at:"top"},
				close: function() {
					$("#image-file").attr("src", '');
					$("#image-upload").show();
					$("#image-file").hide();
				}
			});
		}

		function submitYoutube(user_id) {
			var match = parseYoutubeURL($("#youtube-url").val());
			if (match == null) {
				alert("Please enter a valid youtube URL");
				return;
			}

			var youtube_vid = getYoutubeVideo(match[7]);

			$("#youtube_content").val(youtube_vid);
			
			$("#newYoutubePost").attr("action", "<%= user_posts_path session[:userid] %>")
			$("#newYoutubePost").submit();
		}
	</script>
</body>

<%= render partial: 'posts/postModal' %>
<%= render partial: 'posts/youtubeModal' %>
<%= render partial: 'posts/imageModal' %>

