<head>
	<style>
		body {
			background:#666699
		}
		.main {
			margin-left: 150px;
			padding-top: 0;
			padding-bottom:20px;
			background:#52527A;
			width:700px;
			padding: 0 30px 0 30px;
			border-radius: 20px;

		}	
		.control-text {
			display:inline;
		}
		.content-divider {
			height: 30px;
			clear:left;
		}
		
		#image-content, .image-buttons {
			margin-left:80px;
		}

	</style>
</head>
<body>
	<h1 class="logo"><span class="logo-bracket">[</span>blogger<span class="logo-bracket">].</span></h1>
	<div class="search-row">
		<i class="fa fa-search" style="margin-right:10px;"></i><input type="text" class="control-text" name="search" id="search">
	</div>
	<div class="main">
		<h2>Posts tagged <%= params[:tag] %></h2>
		<% if @posts.empty? %>
			<div class="dash content" style="color:grey">
				<h3>No Posts to Show</h3>
			</div>
			<div class="content-divider"></div>
		<% end %>
		<%= render partial: 'dashPosts' %>
	</div>
	<script src="/js/main.js"></script>
	<script>
		
		$(function() {
			$page = 2; //since we've already loaded the first "page"
			$loading = false;

		 	$("#image-upload").dropzone({
		 		url: '<%= image_upload_path %>',
		 		paramName: 'post[file]',
		 		headers: {
			    	'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
			    },
			    init: function() {
			    	this.on("success", function(file) { 
			    		window.location.href = '<%= user_dashboard_path @user %>' 
			    	});
			    	$('#image-upload')[0].removeEventListener('click', this.listeners[1].events.click);
				}
		 	})



			if (window.location.href.indexOf('dashboard') > -1) {
				$(window).scroll(function() {

				
					if ($(window).scrollTop() + $(window).height() == $(document).height()) {
						//only append a loading gif if it doesn't exist already
						if (!$(".loading-dash").is(':visible'))
							$(".main").append('<div class="loading-dash"><img src="/images/loading.gif"></div>').show();
						
						if ($loading)
							return;
						
						load_posts($page++);
					}
					
				});
			}


			$("#youtube-url").on("input propertychange paste", function() {

				var youtube_id = parseYoutubeURL($("#youtube-url").val())[7];

				if (youtube_id == null) {
					$("#youtube-video").html("");
					return;
				}
				
				var youtube_vid = getYoutubeVideo(youtube_id);
				$("#youtube-video").html(youtube_vid).hide().fadeIn("slow");

			});

			$("#image-upload").click(function() {
				$("#image").click();
			});

			$("#image").change(function() {
				var reader = new FileReader();

				reader.onload = function (e) {
					image = $("#image-file");


		            $(image).attr('src', e.target.result);
		            $(image).fadeIn("slow").show();

		  
		            if ($(image).width() < 200) {
		            	console.log("it got here");
		            	$(image).css('margin-left', '100px');
		            }


		            $("#image-upload").hide();
		        }

				reader.readAsDataURL(this.files[0])
			});

		});


		function load_posts(page) {
			
			$loading = true;
			
			$.get(
				'/posts/' + page + '/fetch_posts',
				{ 
					tag: <%= params[:tag] %>

				} ,
				function(data) {
					$(".loading-dash").hide();
					if (data != '')
						$('.main').fadeIn("slow").append(data);
					

		

					//wait a second before the next ajax request
					setTimeout(function() {
						$loading = false;
					}, 1000);

				}
			);

			

		}
		function openNewDashModal(userID) {
			openNewModal(userID);
			$("#source").val("dashboard");
		}

		function openYoutubeModal() {
			$("#youtubeModal").fadeIn(500).dialog({
				autoOpen:true,
				closeOnEscape:true,
				modal:true,
				resizable:false,
				width:480,
				height:520,
				position: {at:"top"},
				close: function() {
					$("#youtube-video").html("");
					remove_tags($("#youtube-tags"));
				}
			});
		}

		function openImageModal() {
			$("#imageModal").fadeIn(500).dialog({
				autoOpen:true,
				closeOnEscape:true,
				modal:true,
				resizable:false,
				width: 600,
				height:'auto',
				position: {at:"top"},
				close: function() {
					$("#image-file").attr("src", '');
					$("#image-upload").show();
					$("#image-file").hide();
					remove_tags($("#image-tags"));
				}
			});
		}

		function submitYoutube(user_id) {
			var match = parseYoutubeURL($("#youtube-url").val());
			if (match == null) {
				alert("Please enter a valid youtube URL");
				return;
			}

			var youtube_vid = getYoutubeVideo(match[7]);

			$("#youtube_content").val(youtube_vid);
			
			$("#newYoutubePost").attr("action", "<%= user_posts_path session[:userid] %>")
			$("#newYoutubePost").submit();
		}
	</script>
</body>
