<head>
	<style>
		body {
			background:#666699
		}
		.main {
			margin-left: 150px;
			padding-top: 0;
			padding-bottom:20px;
			background:#52527A;
			width:700px;
			padding: 0 30px 0 30px;
			border-radius: 20px;

		}

		.list-buttons, .private-message-list, .chat-list {
			list-style-type: none

		}
		.list-buttons li {
			display:inline;
		}
		.icon {
			width:60px;
			height:60px;
			margin-right:10px;
		}
		.buttons {
			margin-left:300px;
			background:#52527A;
			width:450px;
			border-radius:20px;
			border: solid 1px #393955;
			
		}
		.control-text {
			display:inline;
		}
		.content-divider {
			height: 30px;
			clear:left;
		}
		.youtube-content {
			margin-bottom:25px;
		}
		#youtube-video {
			width: 375px;
			height: 211px;
			margin-top:40px;
		}
		#image-upload {
			border: 5px dashed grey;
			background: #52527A;
			width:340px;
			height:100px;
			text-align:center;
			margin-top:20px;
		}
		#image-file {
			max-width:420px;
			height: auto;
			display:none;
			margin-top:10px;
			
		}
		#youtube-tags_tagsinput {
			width: 370px !important;
		}
		#image-content, .image-buttons {
			margin-left:80px;
		}
		.chat {
			position: fixed;
			bottom: 0;
			right: 0;
			background: #C2C2D6;
			height:15px;

		}
		.chat-header ,.chat {
			width: 200px;
			border-radius:3px;
		}
		.chat-header {
			background: blue;
			font-size:12px;
			text-align:center;
			border: 1px solid #000099;
			margin: 0;
		}

		.chat-list li {
			font-size:11px;
			height:30px;
		}
		.chat-avatar {
			border-radius:30px;
			float:left;
			width:30px;
			height:30px
		}
		.chat-username {
			margin-top:15px;
		}
		.private-message {
			position:fixed;
			bottom:0;
			height:250px;
			width:160px;
			background: #C2C2D6;
			font-size:12px;

		}
		.private-message-header {
			margin:0;
			background:blue;
			font-size:12px;
			text-align:center;
			box-shadow: 1px 1px grey;

		}
		.private-message, .private-message-header {
			border-radius:3px;

		}
		.private-message-list {
			border-radius:20px;
			height:184px;
			padding:0;
		}
		.message-from {
			background: grey;
			margin-left:50px;
		}
		.message-self {
			background:#9191C8;
			margin-left:10px;
	
		}
		.message-from, .message-self {
			margin-bottom:10px;
			width:80px;
			border-radius:20px;
			padding: 5px 10px 5px 10px;
		}
		
		.chat-text {
			width: 80%;
			height:12px;
		}
		.chat-button {
			width:16%;
		}
	</style>
</head>
<body>
	<h1 class="logo"><a href="<%= user_dashboard_path @user %>"><span class="logo-bracket">[</span>blogger<span class="logo-bracket">].</span></a></h1>
	<div class="search-row">
		<i class="fa fa-search" style="margin-right:10px;"></i><input type="text" class="control-text" name="search" id="search">
	</div>
	<div class="buttons">
		<ul class="list-buttons">
			<li><a href="#" onclick="openNewDashModal(<%= params[:user_id] %>);return false;"><img src="/images/write-document-icon.png" class="icon"></a></li>
			<li><a href="#" onclick="openYoutubeModal()" ><img src="/images/video_icon.png" class="icon"></a></li>
			<li><a href="#" onclick="openImageModal()" ><img src="/images/photo_upload.png" class="icon"></a></li>
			<li><a href="<%= user_account_path session[:userid] %>"><img src="/images/control_panel copy.png" class="icon"></li></a>
			<li><a href="/users/logout"><img src="/images/logout.png" class="icon"></a></li>
		</ul>
	</div>
	<div class="main">
		<h2>Posts in your Feed</h2>
		<% if @posts.empty? %>
			<div class="dash content" style="color:grey">
				<h3>No Posts to Show</h3>
			</div>
			<div class="content-divider"></div>
		<% end %>

		<%= render partial: 'dashPosts' %>
	</div>
	<script src="/js/main.js"></script>
	<script>
		var socket = '';
		var users = [];
		var num_windows = 0;
		$(function() {
			$page = 2; //since we've already loaded the first "page"
			$loading = false;
			socket = new io('<%= ENV['CHAT_SERVER'] %>');

			logIn();

			socket.emit('list');

			socket.on('list', function() {
				//console.log('sending user info back')
				sendUserInfo();
			});

			socket.on('logout', function(user) {

				users.splice(userIndex(user),1)

				//if the logged out user's message box is up, notify the user that the person has disconnected

				console.debug(user);
				if ($("#private-message-" + user).length) {
					console.log("it should go here.....");
					$("#pm-" + user).append('<i style="margin-left:10px;">' + user + ' has disconnected</i>');
				}
				updateUserList();
			});

			socket.on('user-list', function(user) {
				//console.log("user " + user.username + " has sent their info");
				//checks whether a user is a friend and adds them to the user list
				isFriends(user);
			});

			socket.on('message', function(message) {
				if (!$("#private-message-" + message.from).length) {
					//console.log("should go here");
					privateMessageBox(message.from);
				}
				if ($("#pm-" + message.from)[0].scrollHeight > $("#pm-" + message.from).innerHeight()) {
					$("#pm-" + message.from).empty();
			
				}

				//console.log("message received: " + message.from + ": " + message.content);
				

				$("#pm-" + message.from).append('<li class="message-from">' + message.content + '</li>');
			

			});

		 	$("#image-upload").dropzone({
		 		url: '<%= image_upload_path %>',
		 		paramName: 'post[file]',
		 		headers: {
			    	'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
			    },
			    init: function() {
			    	this.on("success", function(file) { 
			    		window.location.href = '<%= user_dashboard_path @user %>';
			    	});
			    	$('#image-upload')[0].removeEventListener('click', this.listeners[1].events.click);
				}
		 	});
		 	var expanded = false;
		 	$(".chat-header").click(function() {
		 		if (!expanded) {
		 			$(".chat").css('height', '200px');
		 			expanded = true;
		 		}	
		 		else {
		 			$(".chat").css('height', '15px');
		 			expanded = false;
		 		}
		 	});



			if (window.location.href.indexOf('dashboard') > -1) {
				$(window).scroll(function() {
					//only append a loading gif if it doesn't exist already
					if (!$(".loading-dash").is(':visible'))
							$(".main").append('<div class="loading-dash"><img src="/images/loading.gif"></div>').show();

					if ($loading)
						return;
			
				
					if ($(window).scrollTop() + $(window).height() == $(document).height()) {
						load_posts($page++);
					}
					
				});
			}


			$("#youtube-url").on("input propertychange paste", function() {

				var youtube_id = parseYoutubeURL($("#youtube-url").val())[7];

				if (youtube_id == null) {
					$("#youtube-video").html("");
					return;
				}
				
				var youtube_vid = getYoutubeVideo(youtube_id);
				$("#youtube-video").html(youtube_vid).hide().fadeIn("slow");

			});

			$("#image-upload").click(function() {
				$("#image").click();
			});

			$("#image").change(function() {
				var reader = new FileReader();

				reader.onload = function (e) {
					image = $("#image-file");


		            $(image).attr('src', e.target.result);
		            $(image).fadeIn("slow").show();

		  
		            if ($(image).width() < 200) {
		            	//console.log("it got here");
		            	$(image).css('margin-left', '100px');
		            }


		            $("#image-upload").hide();
		        }

				reader.readAsDataURL(this.files[0])
			});

		});


		function load_posts(page) {
			
			$loading = true;
			
			$.get(
				'/posts/' + page + '/fetch_posts',
				{ 
					friend_ids: "<%= @friends.push(@user).map{ |friend| friend.id }.join(',') %>",

				} ,
				function(data) {
					$(".loading-dash").hide();
					if (data != '') 
						$('.main').fadeIn("slow").append(data);
					
					//wait a second before the next ajax request
					setTimeout(function() {
						$loading = false;
					}, 1000);

				}
			);

			

		}
		function openNewDashModal(userID) {
			openNewModal(userID);
			$("#source").val("dashboard");
		}

		function openYoutubeModal() {
			$("#youtubeModal").fadeIn(500).dialog({
				autoOpen:true,
				closeOnEscape:true,
				modal:true,
				resizable:false,
				width:480,
				height:520,
				position: {at:"top"},
				close: function() {
					$("#youtube-video").html("");
					remove_tags($("#youtube-tags"));
				}
			});
		}

		function openImageModal() {
			$("#imageModal").fadeIn(500).dialog({
				autoOpen:true,
				closeOnEscape:true,
				modal:true,
				resizable:false,
				width: 600,
				height:'auto',
				position: {at:"top"},
				close: function() {
					$("#image-file").attr("src", '');
					$("#image-upload").show();
					$("#image-file").hide();
					remove_tags($("#image-tags"));
				}
			});
		}

		function submitYoutube(user_id) {
			var match = parseYoutubeURL($("#youtube-url").val());
			if (match == null) {
				alert("Please enter a valid youtube URL");
				return;
			}

			var youtube_vid = getYoutubeVideo(match[7]);

			$("#youtube_content").val(youtube_vid);
			
			$("#newYoutubePost").attr("action", "<%= user_posts_path session[:userid] %>")
			$("#newYoutubePost").submit();
		}

		function sendUserInfo() {
			socket.emit('user-list', {
				username: "<%= @user.displayname %>",
				avatar: "<%= @user.avatar.url(:thumb) %>"
			});
		}
		function logIn() {
			socket.emit('login', {
				username: "<%= @user.displayname %>",
				avatar: "<%= @user.avatar.url(:thumb) %>"
			});
		}

		function updateUserList() {
			//console.log("users = " + users);
			$(".chat-list").empty();
			for (var i = 0; i < users.length; i++) {
				if (users[i].username != "<%= @user.displayname %>")
					$(".chat-list").append("<li><a href='#' onclick='privateMessageBox(\"" + users[i].username + "\");return false;'><img class='chat-avatar' src='" + users[i].avatar + " '>" + '</a><span class="chat-username">' + users[i].username + "</span></li>");
			}
		}
		function userIndex(username) {
			for (var i = 0; i < users.length; i++) {
				if (users[i].username == username) {
					return i;
				}
			}

			return -1;
		}

		function privateMessageBox(username) {
			//if the box exists already do nothing
			if ($("#private-message-" + username).length) 
				return;
			
			num_windows++;

			var position = 'right: ' + (num_windows*205) + "px"

			

			$('body').append('<div class="private-message" id="private-message-' + username + '" style="' + position + '"><h3 class="private-message-header">Messages: ' + username + '</h3><ul class="private-message-list" id="pm-' + username + '" ></ul><form method="" id="pm-form-' + username + '"><input type="text" name="chat-text" class="chat-text" id="chat-text-' + username + '"><input type="submit" class="btn confirm chat-button" value="Ok"></form></div>');

			//bind a submit event to the form
			$('#pm-form-' + username).submit(function(e) {

				e.preventDefault();
				//console.log('sending message to ' + username);
				
				socket.emit('message', {
					from: "<%= @user.displayname %>",
					to: username,
					content: $("#chat-text-" + username).val()
				});
				//console.log($("#pm-" + username)[0].scrollHeight);
				if ($("#pm-" + username)[0].scrollHeight > $("#pm-" + username).innerHeight()) {
					$("#pm-" + username).empty();
				}

				$("#pm-" + username).append('<li class="message-self">' + $("#chat-text-" + username).val() + "</li>" );
				$("#chat-text-" + username).val("");



			});
		}

		function isFriends(user) {
			$.get(
				'/users/<%= @user.id %>/isFriends',
				{ username: user.username },
				function(data) {
					if (data == 'true') {
						
						if (userIndex(user.username) == -1) {
							console.log('friend found, adding to users list');
							users.push(user);
						}

						updateUserList();
					}
					console.log('friend not found');
					return false;
				}
			);

		}

		function openQuoteModal(pid) {
			getPostContents(pid, function(data) {
				//alert($("<div>").html(data).find("<iframe>"));
				if (data.images.length > 0 ) {
					data = '<img src="' + data.images[0] + '"><p>Source: <a href="/users/' + data.user.id + '/posts">' + data.user.displayname + "</a></p>"
				}
				else {
					data = "<div class='block-quote-outer'><a href='/users/" + data.user.id + "/posts/" + pid + "/comments'>" + data.user.displayname + "</a><div class='block-quote'>" + data.content + "</div></div><p>";
				}

				openModal();
				initEditor();
				$("#editContents").editable("focus");
				$("#editContents").editable("insertHTML",data);
				

				$("#newPost").attr("action", "/users/<%= @user.id %>/posts");

				$("#blogSubmit").text("Quote");
				$("#postModal").next().html("Quote");
				$("#source").val('dashboard');
				$("#sourcePID").val(pid);
				$("#editContents").editable('disable');
			});
			
		}

	</script>
	<div class="chat">
		<h3 class="chat-header">Chat</h3>
		<ul class="chat-list"></ul>
	</div>
</body>

<%= render partial: 'posts/postModal' %>
<%= render partial: 'posts/youtubeModal' %>
<%= render partial: 'posts/imageModal' %>

