<aside class="sidebar">
    <div class="sidebar-main">
        <div class="title">
            <%= @user.blog_title %>
        </div>
        <div class="img-container">
           
           <%= image_tag checkAvatar(@user.avatar), class: 'sidebar-image' %> 
         </div>

        <div class="description"><%= @user.description %></div>
        <nav class="links">
            <ul>
                <li><a href="<%= user_posts_path @user %>">home</a></li>                         
                <li><a href="<%= user_account_path session[:userid] %>">control panel</a></li>
                <li><a href="/users/contact">contact</a></li> 
                <% if has_access %>
                    <li><a href="#" onClick="openNewModal(<%= @user.id %>);return false;">new</a></li>
                    <li><a href="/users/logout">logout</a></li>
                <% end %>
            </ul>
        </nav>
        <% if params[:controller] == 'posts' && params[:action] == 'index' %> 
            <div class="pagination"><%= getPageFooter.html_safe %></div>
        <% end %>
    </div>
</aside>