<head>
	<title><%= @user.blog_title %></title>
	<style>
	#postModal, #requestModal {
		width: 375px;
		height: 440px;
		overflow: hidden;
	}

	#editContents {
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		background: white;
		//border: 1px solid black;
		border-radius: 15px;
		font-size: 16px;
		font-family: "Calibri";
		margin-bottom:10px;
		margin-left:10px;
		margin-right:10px;
	}
	#simplemodal-overlay {
		background: #000;
	}
	#show-requests-link {
		margin-top:20px;
	}
	</style>
</head>

	<%= render partial: "sidebar" %>
	<div class="main">
		<% if params[:action] == 'tags' %>
			<h3>Posts tagged '<%= params[:tag] %>':</h3>
		<% end %>
		<% if (@posts.length == 0)  %>
				<div class="content" style="color:grey">
					<i><h3>No posts to show</h3>			
				</div>
		<% end %>

		<%  @posts.each do |post|  %>
			<% tags = post.tags.order('post_tags.created_at')%>
			<div class="content" id="post_<%= post.id %>">
				<p class="post-date"><i>Creation Date: <%= post.created_at.strftime("%m-%d-%y %I:%M %P") %></i></p>
				<% post.images.each do |image| %>
					<p><img src="<%= image.file.url(:medium) %>"></p>
				<% end %>
				<div class="post"> 
					<p><%= auto_link(post.post, sanitize: false).html_safe %></p>
				</div>
				<% if post.edited == 1 %>
					<p class="post-date"><i>(Edited on: <%= post.updated_at.strftime("%m-%d-%y %I:%M %P") %>)</i></p>
				<% end %>
				<% if tags.length > 0 %> 
					<p class="print-tags"><i>Tags: <%= render partial: 'tag', collection: tags %></i></p>
				<% end %>
				<div class="post-buttons" style="font-size:12px">
					<a href="<%= user_post_comments_path(@user, post) %>"><%= post.getCommentText %></a>
					&nbsp;&nbsp;
					<% if session[:userid] == @user.id %>
						<a href="#" onClick="openEditModal(<%= post.id %>,<%= @user.id %>)">Edit Post</a>
					<% end %>
					<% if session[:userid] %>
						<a href="#" onClick="openQuoteModal(<%= post.id %>,<%= @user.id %>)" style="margin-left:5px">Quote</a>
					<% end %>
					<% if session[:userid] == @user.id %>
						<a class="delete" href="#" onclick="deletePost(<%= post.id %>);return false"><li class="fa fa-trash"></li></a>
					<% end %>
				</div>
			</div>	
			<div class="content-divider"></div>
		<% end %>
	</div>
	<script src="/js/main.js"></script>
	<script>
	function openEditModal(pid) {
		//need ajax to get contents
		getPostContents(pid, function(data) {
			openModal();
			initEditor();
			$("#editContents").editable("focus");
			$("#editContents").editable("setHTML",data.content);
			$("#newPost").attr("action", "/users/" + <%= @user.id %> + "/posts/" + pid);
			$("#blogSubmit").text("Edit");
			$("#_method").val("patch");

			/*$.each(data.tags, function(i, val) {
				$("#tags").addTag(val);
			});*/

			for (var i = 0; i < data.tags.length; i++)
				$("#tags").addTag(data.tags[i]);

			$("#postModal").next().html("Edit Post");
		});
	}

	function addFriend() {
		var user_id = <%= params[:user_id].present? ? params[:user_id] : params[:id] %>
		$.post('/users/' + user_id + '/friend',
			function(data) {
				if (data == 'true') {
					$("#addFriend").fadeOut('slow').hide();
				} 
				else
					alert("unable to add friend."); 
			}
		)

	}

	function openQuoteModal(pid) {
		getPostContents(pid, function(data) {
			//alert($("<div>").html(data).find("<iframe>"));
			data = "<div class='block-quote-outer'><a href='/blog/" + <%= @user.id %> + "'>" + "<%= @user.displayname %>" + "</a><div class='block-quote'>" + data.content + "</div></div><p>";

			openModal();
			initEditor();
			$("#editContents").editable("focus");
			$("#editContents").editable("insertHTML",data);
			$("#newPost").attr("action", "/users/<%= @user.id %>/posts");

			$("#blogSubmit").text("Quote");
			$("#postModal").next().html("Quote");
		});
		
	}
	</script>

	
</body>
<%= render partial: "postModal" %>
<%= render partial: "requestModal" %>